@page
@model RestaurantHW.Pages.AboutModel
@{
}
<div>
	<h2>О заведении</h2>
	<p>
		Meat Restaurant — это идеальное место для тех, кто ценит насыщенные ароматы и уникальные вкусы мясных блюд. В нашем ресторане мы предлагаем широкий выбор стейков, шашлыков, кебабов и других мясных деликатесов, приготовленных по традиционным рецептам с использованием только отборных продуктов.

		Каждое блюдо готовится с вниманием к деталям: от идеальной прожарки стейков до тающих во рту кусочков шашлыка, приготовленных на открытом огне. В нашем меню можно найти как классические рецепты, так и авторские интерпретации любимых мясных блюд, чтобы удовлетворить вкусы самых требовательных гурманов.

		Мы гордимся разнообразием наших блюд, от аппетитных стейков с идеально поджаренной корочкой до сочных кебабов и нежных ребрышек. Для тех, кто предпочитает разнообразие, мы предлагаем комбинированные блюда, которые позволят вам насладиться сразу несколькими вкусами.
	</p>
	<h3>Особенности Meat Restaurant:</h3>
	<ul>
		<li>Просторная и уютная атмосфера для комфортного отдыха с друзьями и семьей.</li>
		<li>Открытая кухня: вы можете наблюдать за процессом приготовления, а также наслаждаться ароматами, исходящими от гриля.</li>
		<li>Широкий выбор напитков: от фирменных коктейлей до лучших вин, которые идеально сочетаются с мясными блюдами.</li>
	</ul>
	<p>Приходите в Meat Restaurant и откройте для себя мир мясных удовольствий, которые доставят вам истинное наслаждение!</p>

</div>